@model AlbumDetailsServiceModel
@{
    ViewData["Title"] = $"Album {Model.Title} By {Model.Artist}";
}

<h2>
    @ViewData["Title"]
</h2>

@if (Model.Songs.Count() != 0)
{
    <ol>
        @foreach (var song in Model.Songs)
        {
            <li>@song - @Model.Artist</li>
        }
    </ol>

}
else
{
    <h4>Currenty there is no songs in that Album</h4>
}